[MASTER]

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=ge_reference_code

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
init-hook='import sys; sys.path.append("python/src")'

[MESSAGES CONTROL]

disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        consider-using-enumerate
