[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pylint = "*"

[packages]
pyparsing = "*"
matplotlib = "*"
numpy = "*"
colorlog = "*"
configargparse = "*"

[requires]
python_version = "3.8" # This is the version that is on iccad
